.c1{
    padding:67px;
    padding-right:86px;
    text-align: center;
}
body {
    font-size: 17px;
    color: #424242;
  font-family: Georgia, serif;
  
    background-color: #ffffff;
    background-image: url(https://www.transparenttextures.com/patterns/clean-gray-paper.png);
}

h1{
 padding:59px;
 text-align: center;
}
