h4{
 padding:59px;
 text-align: center;
}
body{
	 font-family: Georgia, serif;

	 background-image: url(https://www.transparenttextures.com/patterns/clean-gray-paper.png);
}
.c1{
    padding:67px;
    padding-right:86px;
}